{% extends "reviews/base.html" %}

{% block title %}Reviews{% endblock title %}

{% block content %}
   <form action="/" method="POST">
      {% csrf_token %}
      
      {% if has_error %}
         <p>Please enter a name</p>
      {% endif %}
      
      {% for field in form  %}
         <div class="form-control {%if field.errors%} errors {%endif%}">
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
         </div>
         
      {% endfor %}
               


      <button type='submit'>Send</button>
   </form>
{% endblock content %}